*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#title{
    padding: 5px;
    text-align: center;
    font-size: 50px;
    font-weight: 1000;
    color: white;
}